{% extends "layout.html"%}

{% block main %}

    <h1> Enter old and new password to change. </h1>
    <br>
    <form action="/changepassword" method="post">

        <ul style="list-style: none">
            <li class="reg-form">
                <input type="text" name="old_password" placeholder="Old Password" autofocus autocomplete="off">
            </li >
            <li class="reg-form">
                <input type="password" name="password" placeholder="New Password" autocomplete="off">
            </li >
            <li class="reg-form">
                <input type="password" name="password1" placeholder="Confirm Password" autocomplete="off">
            </li>
            <li>
                <input type="submit" value="Change Password">
            </li>
            <li class="promt-message">
                {{ message }}
            </li>
        </ul>
    </form>

{% endblock %}