{% extends "layout.html"%}

{% block main %}

    <h1> Enter new email and password to change. </h1>
    <br>
    <form action="/change-email" method="post">

        <ul style="list-style: none">
            <li class="reg-form">
                <input type="text" name="new-email" placeholder="New email" autofocus autocomplete="off">
            </li>
            <li class="reg-form">
                <input type="password" name="password" placeholder="Password" autocomplete="off">
            </li>
            <li>
                <input type="submit" value="Change Email">
            </li>
            <li class="promt-message">
                {{ message }}
            </li>
        </ul>
    </form>

{% endblock %}