{% extends "layout.html" %}


{% block title %}
Home Page
{% endblock %}



{% block main %}
<div class="text-container">
    <div class="display-text">
        <h3>Welcome to random cat facts. The home of random cat facts.</h3>
    </div>
    <div class="image-container">
        <img src="static\images\cat.jpg" alt="Cat picture" class="image-std">
    </div>
    <div class="secondary-text">
        {% if status == 1 %}

            <h6>You're currently subscribed, we hope you continue to enjoy the cat facts. </h6>
        {% else %}
            <p>To recive random facts, please alter subscription in the settings page</p>
            <p>Hope you are enjoying this</p>
        {% endif %}
    </div>
</div>



{% endblock %}