{% extends "layout.html" %}


{% block title %}
Log In
{% endblock %}



{% block main %}
<div>
    <img src="static\images\cat-login.jpg" alt="Adorable cat" class="image-std">
</div>
    <div class="login-container">
        <form action="/login" method="post">
            <div class="mb-4">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-4">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-secondary" type="submit">Log In</button>
        </form>
    </div>
</div>

{% endblock %}