/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
.reg-form{
    padding-bottom: 5px
}

.stocks{
    font-size: 30px;
}

.stock-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
}