{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Current Holdings</h1>
    <div class="container mt-3">
        <table class="table table-striped">
            <tr>
                <th class="headings">Stock</th>
                <th class="headings">Holdings</th>
                <th class="headings">Current Price</th>
                <th class="headings">Value</th>
            </tr>

            {% for i in holdings %}
                <tr>
                    <td>{{i.stock}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{prices[i.stock] | usd}}</td>
                    <td>{{(i.quantity * prices[i.stock]) | usd}}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td><td></td>
                    <td class="headings">Cash Holdings:</td>
                    <td>{{ cash | usd }}</td>
                </tr>
                <tr>
                    <td></td><td></td>
                    <td class="headings">Total:</td>
                    <td>{{ total | usd }}</td>

        </table>
        112.00
    </div>
{% endblock %}