{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Current Holdings</h1>
    <div class="container mt-3">
        <table class="table table-striped">
            <tr>
                <th class="headings">Stock</th>
                <th class="headings">Holdings</th>
                <th class="headings">{{ prices.stock.price }}</th>
                <th class="headings">{{ prices.stock.price }}</th>
            </tr>

            {% for stock in holdings%}
                <tr>
                    <td>{{stock.stock}}</td>
                    <td>{{stock.quantity}}</td>
                    <td>Price</td>
                    <td>Value</td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}