{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Current Holdings</h1>
    <div class="table-striped">
        <table>
            <tr>
                <th>Stock</th>
                <th>Holdings</th>
                <th>Current Price</th>
                <th>Value</th>
            </tr>
            <tr>
                {% for stock in holdings%}
                <td>{{stock.stock}}</td>
                <td>{{stock.quantity}}</td>
                <td>Price</td>
                <td>Value</td>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}