{% extends "layout.html"%}

{% block main %}

    <h1> Enter details to register. </h1>
    <br>
    <form action="/register" method="post">

        <ul style="list-style: none">
            <li class="reg-form">
                <input type="text" name="name" placeholder="Username" autofocus autocomplete="off">
            </li>
            <li class="reg-form">
                <input type="text" pass1="password1" placeholder="Password" autocomplete="off">
            </li >
            <li class="reg-form">
                <input type="text" pass2="password2" placeholder="Confirm Password" autocomplete="off">
            </li>
            <li>
                <input type="submit" value="Register">
            </li>
        </ul>
    </form>

{% endblock %}