{% extends "layout.html"%}

{% block main %}

    <form>
    <h1> Enter details to register. </h1>
    <br>
        <ul style="list-style: none;">
            <li>
                <input type="text" id="name" placeholder="Username" autofocus autocomplete="off">
            </li>
            <li>
                <input type="text" id="Password1" placeholder="Password" autocomplete="off">
            </li>
            <li>
                <input type="text" id="Password2" placeholder="Confirm Password" autocomplete="off">
            </li>
            <br>
            <li>
                <input type="submit" value="Register">
            </li>
        </ul>
    </form>

{% endblock %}