{% extends "layout.html"%}

<script src="finance/static/app.js"></script>

{% block main %}

    <h1> Buy Stock </h1>
    <br>
    <form action="/sell" method="post">
        <h3>Your balance: {{ cash | usd }}</h3>
        <label for="cars">Choose a Stock to sell:</label>
            <table class="table table-striped">
                <tr>
                    <th class="headings">Stock</th>
                    <th  class="headings">Quantity</th>
                    <th> </th>
                </tr>
                <tr>
                    <td>
                        <select id ="sell" name="sell">
                        {% for stock in stocks %}
                            <option> {{ stock.stock }} </option>
                        {%endfor%}
                        </select>
                    </td>
                    <td>
                        <input name="quantity" type="text" placeholder="quantity">
                    </td>
                    <td>
                        <input type="submit" value="Sell">
                    <td>
                </tr>
            </table>
    </form>

{% endblock %}