{% extends "layout.html"%}

<script>
    el = document.getElementById('sale_price');
    num_two = document.getElementById('num2');
    num_two.oninput(function doMath() {
        var numOne = document.getElementById('stock_price').value;
        var numTwo = numTwo.value;
        var theProduct = parseInt(numOne) * parseInt(numTwo);
        el.innerHTML = theProduct;
        alert(theProduct)
});

  </script>

{% block main %}

    <h1> Buy Stock </h1>
    <br>
    <form action="/sell" method="post">
        <h3>Your balance: {{ cash | usd }}</h3>
        <label id="stocks">Choose a Stock to sell:</label>
            <table class="table table-striped">
                <tr>
                    <th class="headings">Stock</th>
                    <th class="headings">Quantity</th>
                    <th> </th>
                </tr>
                <tr>
                    <td>
                        <select id ="sell" name="symbol">
                        {% for stock in stocks %}
                            <option> {{ stock.stock }} </option>
                        {%endfor%}
                        </select>
                    </td>
                    <td>
                        <input id="quanitity" name="shares" type="text" placeholder="quantity">
                    </td>
                    <td>
                        <button type="submit">Sell</button>
                    <td>
                </tr>
                <ul></ul>
            </table>
    </form>

{% endblock %}